.mega_game{
    width:732px;
    height:736px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    margin-top: 20px;
}

h2{
    color: rgb(69, 25, 190);
    text-align: center;
}

.active-game{
    outline: 2px solid red;
}