.mega_game{
    width:912px;
    height:906px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    margin-top: 20px;
}

h1{
    color: rgb(69, 25, 190);
    text-align: center;
}